.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    background-color: #E3F6FF;
    border-bottom-left-radius: 150px;
   
    border-bottom-right-radius: 150px;
  }
  
  .text-section {
    
    max-width: 50%;
  }
  
  .text-section h1 {
    font-size: 4rem;
  }
  
  .text-section .highlight {
    color: #05436A;
  }
  
  .text-section p {
    margin: 20px 0;
    color: #666;
    font-size: 1.5rem;
  }
  
  .join-btn,
  .how-btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .join-btn {
    background-color: #05436A;
    color: white;
    border-radius: 30px;
  }
  
  .how-btn {
    background-color: transparent;
    color: #252641;
    font-weight: bold;
    font-size: larger;
  }
  
  .image-section {
    position: relative;
  }
  
  .image-section img {
    max-width: 100%;
    max-height: 80vh;
  }
  
  .class-notification {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .class-notification p {
    margin: 0;
    font-size: 14px;
  }
  
  .join-now-btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff007a;
    color: white;
    cursor: pointer;
  }
  