.ps-menu-button:hover {
    background-color: #E9F5FE !important;
}

.ps-menu-label:active {
    color: #0C7FDA !important;
}

.ps-menu-label:focus {
    color: #0C7FDA !important;
}

.ps-menu-button:active {
    background-color: #E9F5FE !important;
}

.MuiToolbar-root {
    min-height: 0 !important; 
    padding-left: 0;
    padding-right: 0;
  }
  

