.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-polish-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 0;
}

.left-side {
  text-align: start;
  justify-self: center;
  width: 70%;
  display: flex;
  justify-content: center;
}

.profile-polish-form {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333333;
}

.upload-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-box {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.upload-box span {
  font-size: 24px;
  color: #999;
}

.button {
  padding: 15px;
  background-color: #1d4e89;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
  height: 44px;
}

.image img {
  width: 80%;
}
