@media (width <= 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .feature-cards {
    flex-direction: column;
  }

  .role-card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.main{
  display: flex;

}

.contentcontainer {
  width: 100%;

 
}




.tit{
  font-size: x-large;
  font-weight: bold;
  color: rgb(121 117 117);


}
