@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .feature-cards {
    flex-direction: column;
  }

  .role-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
.main{
  display: flex;

}
.contentcontainer {
  width: 100%;
  margin-left: 19%;
}

.main .bar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 70px;
  height: 60px;
  background-color: white;
  box-shadow: 2px 10px 8px rgba(244, 244, 244, 0.22);

}


.tit{
  font-size: x-large;
  font-weight: bold;
  color: rgb(121, 117, 117);
}
