.profilecard {
    padding: 8px;
    border: 1px solid rgba(246, 245, 245, 0.645);
    border-radius: 8px;
    margin: 20px 10px;
    box-shadow: 2px 2px 8px rgb(248, 248, 248);
    align-self: flex-start;
    width: 320px;
}
.profilecard .cont{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 5px;
}

.profilecard img {
    border-radius: 50%;
    width: 70px;
    margin-right: 25px;
    margin-left: 5px;
}

.profilecard .name{
    font-weight: 700;
}

.profilecard .title{
    font-size: 12px;
    color: grey;
    margin-bottom: 6px;
}


.profilecard .cost{
    font-weight: 600;
    font-size: 12px;
    color: #031b2a;
}
.profilecard .btn{
    padding: 8px 60px;
    background-color:#05436A;
    border-radius: 6px;
    color: white;
    display:flex;
    justify-content: center;
    font-size: small;
    font-weight: 500;
}