.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E3F6FF;
  }

  .right_bar{
    display:flex;
    align-items: center;
  }

  .logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #113C49;
    align-items: center;
  }

  .logo_img{
    width: 50px;
    height: 50px;
    margin-left: 1em;
    margin-right: 0.5em;
  }

  /* nav{
    float: right;
  } */
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #252641;
    font-weight:500;
  }
  
  .auth-buttons .login-btn,
  .auth-buttons .signup-btn {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .login-btn {
    background-color: white;
    color: #6C6C6C;
  }
  
  .signup-btn {
    background-color: #05436A;
    color: white;
  }
  