.recordings-container {
    padding: 20px;
    max-width: 1100px;
    margin: 30px auto;
    margin-left: 80px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #ccc;
    color: #fff;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #007bff;
}

.recording-section {
    margin-top: 20px;
}

.recording-list {
    list-style-type: none;
    padding: 0;
}

.recording-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.media-player {
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.flashcard-section {
    display: flex;
    flex-direction: column;
}

.flashcard-item {
    margin-bottom: 20px;
}

.flashcard {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.flashcard:hover {
    transform: scale(1.05);
}

.flashcard-question, .flashcard-answer {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.flashcard-answer {
    font-weight: bold;
    color: #007bff;
}

