.tutors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   /* margin-left: 50px; */
}


.loading{
margin-left: 100px;
}

.error{
    margin-left: 100px;
}


.search-bar input {
  width: 100%;
  padding: 10px; /* Smaller height with this padding */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

/* Ensure the profile cards are displayed separately from the search bar */
.tutors {
  padding-top: 30px; /* Add space between search bar and the cards */
}

.profilecard {
  margin: 20px 0; 
}



  
  .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  }
  
  
  .tutors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profilecard {
    width: 300px;
    margin: 20px;

  }

  .tutor-placeholder-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  .tutor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
  }
  