.card {
    width: 270px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 20px 10px;
    /* border: 1px solid rgb(231, 231, 231); */
    box-shadow: 5px 7px 14px rgba(184, 184, 184, 0.373);
}

.card .img{
    width: 100%;
    height: 120px;
    border-radius:10px 10px 0 0 ;
    overflow: hidden; 
}

.card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .title{
    padding: 0 15px;
    font-size: large;
    font-weight: 500;
    margin: 20px 0 7px 0;;
}
.card .auth{
    padding: 0 10px;
    font-size:small;
    font-weight: 600;

}
.card .desc{
    padding: 0 15px;
    font-size:x-small;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 17px;
}


.card .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    background-color: rgb(3, 13, 28);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}
.card .last{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}