.groups-container {
    padding: 20px;
    max-width: 1100px;
    margin: 30px auto;
    margin-left: 80px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #ccc;
    color: #fff;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #007bff;
}

.recording-section {
    margin-top: 20px;
}

.recording-list {
    list-style-type: none;
    padding: 0;
}

.recording-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.media-player {
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.group-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 70%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .group-details-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
  }
  
