.study-groups-wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
  background-color: #F8F8F8;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  background-color: #F0F0F0;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #1877F2;
  color: #FFF;
}

.tab:hover {
  background-color: #1877F2;
  color: #FFF;
}

.groups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.group-card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.discription-card {
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.group-image {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.group-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.group-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.edit-button {
  background-color: #032044;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  margin-bottom: 20px;
}

.edit-button:hover {
  background-color: #145EA8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #FFF;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.modal-close-button:hover {
  color: #1877F2;
}

.modal-content h3 {
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  background-color: #041d3e;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
}

.save-button:hover {
  background-color: #145EA8;
}