.linkpath .home{
    display: flex;
    align-items: center;
    
}

.linkpath .name{
margin: 0 20px;
color: #ffffff;
}

.linkpath.active {
    background-color: #E9F5FE; 
}

.linkpath.active .name{
    color: #0C7FDA; 
    font-weight: 700;
}
.linkpath .icon{
color:#ffffff;}
.linkpath.active .icon{
    color: #0C7FDA; 
}